= bootstrap_form_for [@group, assessment], remote: true do |assessment_f|
  = assessment_f.hidden_field :assessor_id
  = assessment_f.hidden_field :assessor_type
  = assessment_f.hidden_field :student_id
  = assessment_f.hidden_field :indicator_id

  %p= render partial: 'assessments/score',
    locals: { assessment_f: assessment_f, n: 5 }

  = assessment_f.text_area :notes, { hide_label: true, class: 'input-sm' }

  = assessment_f.submit 'Save', class: 'input-sm'
