= simple_form_for [@group, @assessment], :html => { :class => 'form-horizontal' } do |f|
  = f.association :group, disabled: true
  = f.input :group_id, as: :hidden
  = f.input :simple_lesson_date, name: 'lesson_date_time', class: 'date_field', label: 'Date', as: 'string'
  = f.input :name, :as => :text, label: 'Objective', :input_html => { rows: 5 }
  = render partial: 'indicator_picker', locals: { f: f }
  .form-actions
    = f.error :base
    = f.submit "#{ @assessment.new_record? ? 'Create' : 'Update' }", :class => 'btn btn-primary'

  - unless @assessment.new_record?
    = f.association :students, multiple: true, as: :check_boxes
    .form-actions
      = f.submit nil, :class => 'btn btn-primary'