- student = assessment_student.student
- ticks = "ticks_#{ student.indicator_score(@assessment.indicator) }"
%tr{ id: "student_score_#{ assessment_student.student_id }"}

  %td{ class: ticks }
    = link_to student.name, student_path(student)
  %td{ class: ticks }
    %strong= assessment_student.score
    &nbsp;
    = assessment_student.notes
  %td{ class: ticks }
    - student.indicator_assessments(@assessment.indicator).each do |attempt|
      = render partial: "/assessment_students/attempt", locals: { attempt: attempt }