- ticks = "ticks_#{ assessment_student.ticks }"

%tr{ id: "student_score_#{ assessment_student.student_id }"}
  = form_for assessment_student, remote: true do |assessment_student_f|
    %td{ class: ticks }
      = assessment_student.student.name
    %td{ class: ticks }
      = assessment_student_f.text_field :notes
      = assessment_student_f.select :score, 1..5, include_blank: true
    %td{ class: ticks }
      = assessment_student_f.submit 'Save'
    %td{ class: ticks }
      this lesson ticks:
      = assessment_student.ticks
      |
      ticks for all lessons:
      0
      |
      manual ticks:
      0