- student = assessment_student.student
- ticks = "ticks_#{ student.indicator_score(@assessment.indicator) }"
%tr{ id: "student_score_#{ assessment_student.student_id }"}

  %td{ class: ticks }
    = student.name
  %td{ class: ticks }
    = form_for assessment_student, remote: true, html: { class: 'form-inline' } do |assessment_student_f|
      - 0.upto(5) do |i|
        .indicator_score
          %label.radio
            = assessment_student_f.radio_button :score, i
            = i == 0 ? "n/a" : i
      - if lesson?
        = assessment_student_f.text_field :notes
        = assessment_student_f.submit 'Save', class: 'btn'
  %td{ class: ticks }
    - student.indicator_assessments(@assessment.indicator).each do |attempt|
      = render partial: "/assessment_students/attempt", locals: { attempt: attempt }