%h1.page-header= assessment_display_type_name

%dl#assessment_details.dl-horizontal
  %dt Group
  %dd= link_to @assessment.group.name, group_path(@assessment.group)

  - if lesson?
    %dt Date
    %dd= @assessment.lesson_datetime || '&nbsp;'.html_safe

    %dt Objective
    %dd= @assessment.name


%dl.dl-horizontal
  %dt Level
  %dd.level #{ @assessment.indicator.level }

  %dt Strand
  %dd.strand #{ @assessment.indicator.strand_name }

  %dt Indicator
  %dd.indicator_name #{ @assessment.indicator.name }

  - if description = @assessment.indicator.description
    %dt Description
    %dd.muted.description #{ description.gsub("_ ", "<br/>").html_safe }

= link_to "Scoring View", group_assessment_path(@group, @assessment)
|
= link_to "Report View", group_assessment_path(@group, @assessment, mode: 'report')
|
= link_to "Edit Details & Students ", edit_group_assessment_path(@group, @assessment)


%p

- if params[:mode] == 'report'
  %table.table
    %tbody
      %tr
        %th Student
        %th Ticks
        %th Score
        %th Note
      - @assessment_students.sort_by(&:ticks).each do |assessment_student|
        - ticks = "ticks_#{ assessment_student.ticks }"
        %tr
          %td{ class: ticks }= link_to assessment_student.student.name, student_path(assessment_student.student)
          %td{ class: ticks }= assessment_student.ticks
          %td{ class: ticks }= assessment_student.score
          %td{ class: ticks }= assessment_student.notes
- else
  %table.table
    %tbody
      %tr
        %th Student
        %th Notes / Score
        %th
        %th Accomplishment
      - @assessment_students.sort{|ls| ls.student.name <=> ls.student.name }.each do |assessment_student|
        = render :partial => 'student', locals: { assessment_student: assessment_student }