%tr
  %td.col-xs-2= "#{ assessment.student.name }: #{ assessment.mark }"
  %td.col-xs-2= raw(previous_attempts(assessment))
  %td= render partial: 'assessments/progress_bar',
    locals: { assessment: assessment }
