= render partial: 'students/tabs', locals: { activate: "indicator_#{ @indicator.id }" }

%h3
  Progress:
  = @indicator

- @indicator.leaves.where(type: 'Indicators::Objective').each do |indicator|
  .panel.panel-default.objective
    .panel-body
      %table.table.table-condensed
        %tbody
          %tr
            %td.col-xs-2.text-muted Topic
            %td #{ indicator.topic }
          %tr
            %td.text-muted Objective
            %td #{ indicator }

      - assessments = Assessment.by_indicator(indicator).by_student(@student)

      - unless assessments.empty?
        %table.table
          %thead
            %th.col-xs-2 Date
            %th.col-xs-2 Teacher
            %th Score

          - assessments.each do |assessment|
            %tr.activity
              %td= assessment.assessed_at
              %td= assessment.assessed_by
              %td= render partial: 'assessments/progress_bar', locals: { assessment: assessment }
