- @page_header = "#{ @subject } :: #{ @indicator.level }"

- content_for(:right_pane) do
  - @subject.levels.each do |level|
    .well
      %h4
        = "#{ @subject } :: #{ level }"
      - level.topics.each do |topic|
        %p= link_to_unless_current topic, discussion_path(topic)

%h2
  = @indicator
Discuss
%ul.list-group.indicator-picker
  %li.list-group-item

    = render partial: 'indicator', locals: { collection: @indicator.children }
