- if @group.students.empty?
  .bs-component
    .jumbotron
      %p You don't have any students yet.
      = link_to edit_group_path(@group) do
        .btn.btn-primary.btn-lg
          Add some students

- else
  .list-group
    .list-group-item
      = link_to edit_group_path(@group) do
        = glyph('Add students', 'plus')

  %table.table.table-striped.students
    %thead
      %th.col-xs-1
      %th.col-xs-2 Name
      %th Notes
    %tbody
      - @group.students.each do |student|
        %tr
          %td
            = link_to group_student_path(@group, student) do
              View
          %td= link_to student, group_student_path(@group, student)
          %td
