%h1.page-header All students
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Students
      %th
      %th Groups
      %th Prior Knowledge Level
      %th Date Added
  %tbody
    - @students.each do |student|
      %tr
        %td= link_to student.name, student_path(student)
        %td= render partial: 'students/actions', locals: { student: student }
        %td= student.groups.map{|group| link_to group.name, group}.join(", ").html_safe
        %td= student.prior_knowledge_level
        %td= student.created_at
= link_to "New Student", new_student_path
