- model_class = Student.new.class
%h1.page-header=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th Groups
      %th Date Added
  %tbody
    - @students.each do |student|
      %tr
        %td= link_to student.name, edit_student_path(student)
        %td= student.groups.map{|group| link_to group.name, group}.join(", ").html_safe
        %td= student.created_at
= link_to t('.new', :default => t("helpers.links.new")), new_student_path, :class => 'btn btn-primary'
