%h1.page-header=t '.title', :default => "APP Grid: #{ @student.name }"

%ul#levels.nav.nav-pills
  - 1.upto(5) do |i|
    %li{ class: "#{ 'active' if @level.to_i == i }"}
      = link_to "Level #{ i }", student_path(@student, level: i)

#app_grid{ class: "#{ 'completed' if @student.prior_knowledge_level >= @level }" }
  %h3.center Using and applying
  %table#MA1.table.table-bordered
    %tr
      %th Problem solving
      %th Communicating
      %th Reasoning
    %tr
      %td= i("MA1_PROBLEM")
      %td= i("MA1_COMMUNICATING")
      %td= i("MA1_REASONING")

  %h3.center Numbers
  %table#MA2.table.table-bordered
    %tr
      %th Numbers and the number system
      %th Fractions
    %tr
      %td= i("MA2_NUMBERS")
      %td= i("MA2_FRACTIONS")

  %h3.center Calculating
  %table#MA2.table.table-bordered
    %tr
      %th{ colspan: 2 } Knowing and using number facts
      %th{ colspan: 2 } Other
    %tr
      %th Operations, relationships between them
      %th Mental methods
      %th Solving numerical problems
      %th Written methods
    %tr
      %td= i("MA2A_OPERATIONS")
      %td= i("MA2A_MENTAL_METHODS")
      %td= i("MA2A_NUMERICAL_PROBLEMS")
      %td= i("MA2A_WRITTEN_METHODS")

  %h3.center Shape, Space and Measures
  %table#MA2.table.table-bordered
    %tr
      %th{ colspan: 2 } Understanding shapes
      %th Measuring
    %tr
      %th Properties of shape
      %th Properties of position and movement
      %th Measures
    %tr
      %td= i("MA3_SHAPES")
      %td= i("MA3_POSITION_MOVEMENT")
      %td= i("MA3A_MEASURES")

  %h3.center Handling data and Using and applying
  %table#MA2.table.table-bordered
    %tr
      - if @level > 3
        %th Specifying the problem and planning, collecting data
      %th Processing and representing data
      %th Interpreting data
    %tr
      - if @level > 3
        %td= i("MA4_PLANNING")
      %td= i("MA4_PROCESSING")
      %td= i("MA4_INTERPRETING")