- @page_header = 'Change your password'

.col-sm-4
  = bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = f.hidden_field :reset_password_token
    = f.password_field :password, autofocus: true, autocomplete: "off", label: 'New password', help: "Must be at least #{ @minimum_password_length } characters"
    = f.password_field :password_confirmation, autocomplete: "off", label: 'Password confirmation'
    = f.submit 'Change my password'
  %br
  = link_to "Forgot your password?", new_password_path(resource_name)
.row
