- @page_header = link_to_group
= render partial: 'lessons/details', locals: { lesson: @lesson }

%ul.nav.nav-pills
  %li.presentation
    = link_to group_lesson_path(@group, @lesson) do
      .span.glyphicon.glyphicon-pencil
      Scoring view

.well.objective.lesson
  = bootstrap_form_for [@group, @lesson, @objective] do |f|

    = f.text_field :stream, label: 'Stream',
        wrapper_class: 'name-input',
        class: 'objective-name'

    = f.hidden_field :indicator_id

    - @curricula.each do |indicator|
      = render partial: 'objectives/indicators/picker', locals: { indicator: indicator }

    - @pedagogies.each do |indicator|
      = render partial: 'objectives/indicators/picker', locals: { indicator: indicator }
