= bootstrap_nested_form_for(@group) do |f|
  .panel.panel-default
    .panel-heading
      .panel-title
        = f.text_field :name, label: 'Class name', autofocus: true
        = f.select :subject_id, current_teacher_subjects.map{ |t| [t.name, t.id]}, include_blank: true
        = render partial: 'teachers/fields/select_name', locals: { f: f }
  .panel.panel-default
    .panel-heading
      .panel-title
        = f.fields_for :students do |student_f|
          - remove_link_text = student_f.link_to_remove glyph("Remove#{ (' ' + student_f.object.name) unless student_f.object.new_record?}", 'trash').html_safe
          = student_f.text_field :name, label: 'Student', help: remove_link_text

        %p= f.link_to_add glyph('Add a student', 'plus'), :students
        = f.submit 'Save'

%p
.alert.alert-info
  %strong Pending feature:
  Add students from other classes
