= simple_form_for @group, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
  = f.association :students, multiple: true, :as => :check_boxes
  Hold down the command button to select students groups
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'