%ul.nav.nav-tabs
  %li{ class: "#{ 'active' if activate == :lessons }" }
    = link_to group_lessons_path(@group) do
      Lessons
  %li{ class: "#{ 'active' if activate == :students }" }
    = link_to group_students_path(@group) do
      Students
  %li.dropdown
    = link_to "#", { class: 'dropdown-toggle', data: { toggle: 'dropdown' } } do
      Settings
      %span.caret
    %ul.dropdown-menu
      %li.edit-group
        = link_to edit_group_path(@group) do
          = glyph('Edit class', 'cog')
