%ul.nav.nav-tabs
  %li{ class: "#{ 'active' if activate == :lessons }" }
    = link_to group_lessons_path(@group) do
      Lessons
  %li{ class: "#{ 'active' if activate == :students }" }
    = link_to group_students_path(@group) do
      Students



- content_for(:right_pane) do
  .well
    .lead Classes

    %ul
      - current_teacher.groups.each do |group|
        %li= link_to_unless group == @group, group, group
    %br
    %p.small= link_to glyph('Edit this class', 'cog'), edit_group_path(@group)
    %p.small= link_to glyph('Add a new class', 'plus'), new_group_path
