%h3 Teacher Judgements
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Date Added
      %th Notes
      %th Level
      %th Strand
      %th Assessment Indicator
  %tbody
    - @group.teacher_judgements.each do |assessment|
      %tr
        %td= link_to assessment.created_at, group_assessment_path(@group, assessment)
        %td= assessment.notes
        %td= assessment.indicator.level
        %td= assessment.indicator.strand_name
        %td= assessment.indicator.name if assessment.indicator