%h1.page-header=t '.title', :default => "Group: #{ @group.name }"

= render :partial => '/lessons/list'
= link_to "Add Lesson", new_group_lesson_path(@group)
%hr
%table.table.table-striped
  %thead
    %tr
      %th Students
      %th
  %tbody
    - @students.each do |student|
      %tr
        %td= link_to student.name, student_path(student)
        %td= render partial: 'students/actions', locals: { student: student }
%hr
= link_to "Edit Group", edit_group_path(@group)