- @page_header = 'Pedagogies'

- if @pedagogies.empty?
  .bs-component
    .jumbotron
      %p You don't have any pedagogies yet.
      = link_to new_indicators_pedagogy_path do
        .btn.btn-primary.btn-lg
          = glyph('Add a new pedagogy', 'plus')

- @pedagogies.each do |pedagogy|
  .panel.panel-success.topic
    .panel-heading
      .panel-title= pedagogy
    .panel-body
      .well.pedagogy
        - pedagogy.children.each do |child|
          %h3= link_to child, pedagogy_path(child)
        %br
        = render partial: 'pedagogies/editable', locals: { pedagogy: pedagogy }
