%tr{ id: "student_#{ assessment.student.id }" }
  %td.student
    = link_to glyph(nil, 'plus'), "#", class: 'toggle-assessment-form'
    = assessment.student.name

  - if assessment.alt_streams?
    %td.stream
      = assessment.stream

  %td.score{ class: progress_style(assessment.score) }
    = score_text(assessment)

  %td.notes
    = assessment.notes

  %td.attempts
    = raw(previous_attempts(assessment))

  %td.assessment-form.hidden{ colspan: (assessment.alt_streams? ? 4 : 3) }
    = render partial: 'assessments/form', locals: { assessment: assessment }
