%tr{ id: "student_#{ assessment.student.id }" }
  %td.col-xs-3.student
    = link_to glyph(nil, 'plus'), "#", class: 'toggle-assessment-form'
    = assessment.student.name

  %td.col-xs-1.score{ class: likert_style(assessment.score) }
    = score_text(assessment)

  %td.notes
    = " (#{ assessment.stream })" if assessment.stream
    = assessment.notes

  %td.form.hidden{ colspan: 2 }
    = render partial: 'assessments/form', locals: { assessment: assessment }
