.row
  .col-xs-6
    %well
      %dl.dl-horizontal.lesson-details
        %dt Subject
        %dd
          %mark #{ @lesson.subject.try(:name) }

        %dt Teacher
        %dd.lesson-teacher
          %mark #{ lesson.teacher }

        %dt Date
        %dd
          %mark #{ lesson.lesson_date }

        %dt
        %dd.lesson-evaluation
          %br
          %mark= @lesson.evidenced ? 'Evidenced' : 'Teacher judgement'

  .col-xs-6
    %well.lesson-notes
      %b Notes
      #{ lesson.notes }
