.panel.panel-default
  .panel-heading
    .panel-title
      = @lesson.new_record? ? 'Add a new lesson' : 'Edit lesson'
  .panel-body
    = bootstrap_nested_form_for [@group, @lesson], layout: 'horizontal' do |f|

      = f.select :subject_id, Indicators::Subject.all.map{ |t| [t.name, t.id]},
        {}, { wrapper_class: 'name-input' }

      = render partial: 'teachers/fields/select_name', locals: { f: f }

      = f.date_field :lesson_date, label: 'Date', wrapper_class: 'date-input'

      = f.text_area :notes, autofocus: true

      = f.submit 'Save'
