= simple_form_for @lesson, :html => { :class => 'form-horizontal' } do |f|
  = f.association :group
  = f.input :simple_lesson_date, name: 'lesson_date_time', class: 'date_field', label: 'Date', as: 'string'
  = f.input :name, :as => :text, label: 'Objective', :input_html => { rows: 5 }
  .control-group.select
    = f.label :indicator_id, label: "Assessment Indicator"
    .controls
      = f.select :indicator_id, grouped_options_for_select(Indicator.grouped_options)

  .form-actions
    = f.error :base
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), lessons_path, :class => 'btn'
