= simple_form_for @lesson, :html => { :class => 'form-horizontal' } do |f|
  = f.association :group
  = f.input :simple_lesson_date, name: 'lesson_date_time', class: 'date_field', label: 'Date', as: 'string'
  = f.input :name, :as => :text, label: 'Objective', :input_html => { rows: 5 }
  = render partial: 'indicator_picker', locals: { f: f }


  .form-actions
    = f.error :base
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), lessons_path, :class => 'btn'