= simple_form_for @lesson, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name, class: 'text_field', label: 'Objective'
  = f.input :lesson_datetime, class: 'date_field', label: 'Date', as: 'string'
  = f.association :group
  .form-actions
    = f.error :base
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), lessons_path, :class => 'btn'
