.panel.panel-default
  .panel-heading
    .panel-title
      = @lesson.new_record? ? 'Add a new lesson' : 'Edit lesson'
  .panel-body
    = bootstrap_nested_form_for [@group, @lesson], layout: 'horizontal' do |f|
      = f.text_field :name, label: 'Goal', autofocus: true
      = f.date_field :lesson_date, label: 'Date'

      - if subject = @group.subject
        = f.fields_for :objectives do |objective_f|
          .well.objective
            = objective_f.text_field :stream, label: 'Stream', class: 'objective-name'
            = objective_f.select :indicator_id,
              subject.objectives.map{ |t| [t.cached_ancestry_name, t.id]},
              label: "Objective",
              help:  objective_f.link_to_remove(glyph('Remove', 'trash')).html_safe

        %p= f.link_to_add glyph('Add an objective', 'plus'), :objectives
      - else
        .well.objective
          To add objectives, you should first
          = link_to "choose a subject for this class", edit_group_path(@group)
      = f.submit 'Save'
