.panel.panel-default
  .panel-heading
    .panel-title
      = @lesson.new_record? ? 'Add a new lesson' : 'Edit lesson'
  .panel-body
    = bootstrap_nested_form_for [@group, @lesson], layout: 'horizontal' do |f|

      = render partial: 'teachers/fields/select_name', locals: { f: f }

      = f.date_field :lesson_date, label: 'Date', wrapper_class: 'date-input'

      = f.form_group :evidenced do
        = f.radio_button :evidenced, true, label: 'Evidenced'
        = f.radio_button :evidenced, false, label: 'Teacher judgement'

      = f.text_area :notes, autofocus: true

      - if @lesson.persisted?
        = f.fields_for :objectives do |objective_f|
          .panel.panel-default.objective
            .panel-heading
              = objective_f.text_field :stream, help: objective_f.link_to_remove(glyph('Remove', 'trash'))
            .panel-body
              %table.table.table-condensed
                %tbody
                  %tr
                    %td.text-muted.col-xs-2 Curriculum
                    %td #{ objective_f.object.curriculum }
                  %tr
                    %td.text-muted.col-xs-2 Subject
                    %td #{ objective_f.object.subject }
                  %tr
                    %td.text-muted.col-xs-2 Level
                    %td #{ objective_f.object.level }
                  %tr
                    %td.text-muted Topic
                    %td #{ objective_f.object.topic }
                  %tr
                    %td.text-muted Objective
                    %td #{ objective_f.object.objective }

      = f.submit 'Save'
