- if @group.lessons.empty?
  .bs-component
    .jumbotron
      %p You don't have any lessons yet.
      = link_to new_group_lesson_path(@group) do
        .btn.btn-primary.btn-lg
          Add a new lesson

- else
  .list-group
    .list-group-item
      = link_to glyph('Add a new lesson', 'plus'), new_group_lesson_path(@group)

  %table.table.table-striped
    %thead
      %th.col-xs-2
      %th.col-xs-2 Subject
      %th.col-xs-3 Lesson date
      %th.col-xs-3 Teacher
      %th Notes
    %tbody
      - @group.lessons.each do |lesson|
        %tr.clickable-row
          %td.text-primary
            = link_to group_lesson_path(@group, lesson) do
              = glyph('View', 'cog')
          %td.text-primary= lesson.subject
          %td.text-primary= lesson.lesson_date.to_s
          %td.text-primary= lesson.teacher
          %td.text-primary= truncate(lesson.notes, length: 150)
