- if @group.lessons.empty?
  .bs-component
    .jumbotron
      %p You don't have any lessons yet.
      = link_to new_group_lesson_path(@group) do
        .btn.btn-primary.btn-lg
          Add a new lesson

- else
  %table.table.table-striped
    %thead
      %th.col-xs-3 Lesson date
      %th.col-xs-2 Teacher
      %th.col-xs-2 Subject
      %th Notes
    %tbody
      - @group.lessons.includes(:indicators).each do |lesson|
        %tr.clickable-row
          %td
            = link_to group_lesson_path(@group, lesson) do
              = lesson.lesson_date.to_s
          %td= lesson.teacher
          %td= lesson.objectives.map{ |objective| objective.heading }.flatten.uniq.join(', ')
          %td= truncate(lesson.notes, length: 150)
