.panel.panel-default.objective
  .panel-heading
    = multiple_objectives ? "#{ objective.stream } objective" : 'Lesson objective'
  .panel-body
    %dl.dl-horizontal.lesson-details
      %dt Level
      %dd #{ objective.level }

      %dt Topic
      %dd #{ objective.topic }

      %dt Objective
      %dd #{ raw objective.objective }

    = sub_content if defined?(sub_content)
