- title = "Lessons"
- title += " > #{ @group.name }" if @group
%h1.page-header=t '.title', :default => title
%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Group
      %th Objective
      %th Level
      %th Strand
      %th Assessment Indicator
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.lesson_datetime
        %td= link_to lesson.group.name, lessons_path(:group_id => lesson.group_id)
        %td= link_to lesson.name, lesson_path(lesson)
        %td= lesson.indicator.level
        %td= lesson.indicator.strand_name
        %td= lesson.indicator.name if lesson.indicator
        %td
          = link_to t('.view', :default => t("helpers.links.view")), lesson_path(lesson), :class => 'btn btn-mini'
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_lesson_path(lesson), :class => 'btn btn-mini'

= link_to t('.new', :default => t("helpers.links.new")), new_lesson_path, :class => 'btn btn-primary'
