- model_class = Lesson.new.class
%h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th Objective
      %th Class
      %th Date
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= link_to lesson.name, lesson_path(lesson)
        %td= lesson.teacher.name
        %td= lesson.group.name if lesson.group
        %td= lesson.lesson_datetime
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_lesson_path(lesson), :class => 'btn btn-mini'

= link_to t('.new', :default => t("helpers.links.new")), new_lesson_path, :class => 'btn btn-primary'
