- @page_header = link_to_group
= render partial: 'nav'

%h3= "#{ @lesson.name }, #{ @lesson.lesson_date }."
.panel.panel-default
  .panel-heading Objective
  .panel-body
    - @lesson.objectives.each do |objective|
      .objective.well.well-sm
        = objective.indicator.name
    = link_to edit_group_lesson_path(@group, @lesson) do
      .span.glyphicon.glyphicon-cog
      Edit lesson

= render partial: 'assessments/student', collection: @lesson.students
