- @page_header = link_to_group
= render partial: 'details', locals: { lesson: @lesson }

%ul.nav.nav-pills
  %li.presentation
    = link_to edit_group_lesson_path(@group, @lesson) do
      = glyph('Edit lesson', 'cog')
  %li.presentation
    = link_to new_group_lesson_objective_path(@group, @lesson) do
      = glyph('Add objective', 'plus')
  %li.presentation
    = link_to group_lesson_report_path(@group, @lesson) do
      = glyph('Report view', 'print')


= render partial: 'lessons/objective',
  collection: @lesson.objectives,
  locals: { multiple_objectives: @lesson.multiple_objectives? }

%table.assessment.table.table-responsive.table-bordered.table-hover
  %thead
    %th.col-xs-3 Name
    - if @lesson.multiple_objectives?
      %th.col-xs-2 Stream
    %th.col-xs-1 Score
    %th Notes
    %th.col-xs-2 Previous attempts
  %tbody
    - @group.students.each do |student|
      - assessment = @lesson.assessments.where(student: student).first_or_initialize
      = render partial: 'lessons/assessment',
        locals: { assessment: assessment, indicators: @lesson.indicators }
