- @page_header = link_to_group

%h4 Subject: #{ @group.subject.try(:name) }

= render partial: 'lessons/objectives/single', locals: { objective: @lesson.objective }

%h4 Date: #{ @lesson.lesson_date }
%p Notes: #{ @lesson.notes }
%ul.nav.nav-pills
  %li.presentation
    = link_to edit_group_lesson_path(@group, @lesson) do
      = glyph('Edit lesson', 'cog')
  %li.presentation
    = link_to group_lesson_report_path(@group, @lesson) do
      = glyph('Report view', 'print')

/ - @lesson.objectives.each do |objective|
/   .panel.panel-default.objective
/     .panel-heading= objective.stream
/     .panel-body= objective.indicator.cached_ancestry_name

%table.assessment.table.table-responsive.table-bordered.table-hover
  %thead
    %th Name
    %th Score
    %th Notes
  %tbody
    - @group.students.each do |student|
      - assessment = @lesson.assessments.where(student: student).first_or_initialize
      = render partial: 'lessons/assessment',
        locals: { assessment: assessment, indicators: @lesson.indicators }
