- @page_header = link_to_group

%h3
  = @lesson.name
  %small
    = @lesson.lesson_date
%ul.nav.nav-pills
  %li.presentation
    = link_to edit_group_lesson_path(@group, @lesson) do
      = glyph('Edit lesson', 'cog')
  %li.presentation
    = link_to group_lesson_report_path(@group, @lesson) do
      = glyph('Report view', 'print')

- @lesson.objectives.each do |objective|
  .panel.panel-default.objective
    .panel-heading= objective.stream
    .panel-body= objective.indicator.delimited_ancestry_names

= render partial: 'assessments/student', collection: @lesson.students
