%h1.page-header Lesson: #{ @lesson.name }

%dl.dl-horizontal
  %dt Group
  %dd= link_to @lesson.group.name, group_path(@lesson.group)

  %dt Date
  %dd= @lesson.lesson_datetime || '&nbsp;'.html_safe

  %dt Objective
  %dd= @lesson.name


%dl.dl-horizontal
  %dt Level
  %dd.level #{ @lesson.indicator.level }

  %dt Strand
  %dd.strand #{ @lesson.indicator.strand_name }

  %dt Indicator
  %dd.indicator_name #{ @lesson.indicator.name }

  - if description = @lesson.indicator.description
    %dt Description
    %dd.muted.description #{ description.gsub("_ ", "<br/>").html_safe }


%br
%table.table.table-striped
  %tbody
    - @lesson_students.each do |lesson_student|
      %tr{ id: "student_score_#{ lesson_student.student_id }" }
        %td= lesson_student.student.name
        %td.scoring
          = form_for lesson_student, remote: true do |lesson_student_f|
            = lesson_student_f.select :score, 1..5, include_blank: true
            = lesson_student_f.text_field :notes
            = lesson_student_f.submit 'Save'
        %td.ticks.hide= render partial: 'lesson_students/ticks', locals: { lesson_student: lesson_student }

%hr
= link_to "Add Student to this Lesson", new_student_path(@lesson.group, lesson_id: @lesson.id)
|
= link_to "Edit Lesson", edit_group_lesson_path(@group, @lesson)