%h1.page-header
  = @lesson.name
  %small= @lesson.lesson_datetime.to_s(:full_date)
= form_for @lesson do |f|
  %table.table.table-striped
    %thead
      %tr
        %th=@lesson.group.name
        %th Score
    %tbody
      = f.fields_for :lesson_students do |lesson_student_f|
        %tr
          %td= lesson_student_f.object.student.name
          %td= lesson_student_f.text_field :score, id: "student_score_#{ lesson_student_f.object.student.id }"