- @page_header = 'Curricula'

- @curricula.each do |curriculum|
  .well.curriculum
    %h2= curriculum
    - curriculum.subjects.each do |subject|
      %h3
        = subject
        = raw subject.levels.map{ |level| "<small>#{ link_to level, curriculum_path(level) }</small>" }.join(', ')
    %br
    = render partial: 'curricula/editable', locals: { curriculum: curriculum }
