= bootstrap_form_for(@indicator) do |indicator_f|
  .panel.panel-default
    .panel-heading
      .panel-title
        = indicator_f.hidden_field :parent_id
        = indicator_f.text_field :name,
          label: "#{ @indicator.friendly_type } name"
      = indicator_f.submit 'Save'
