- collection.each do |indicator, sub_item|
  %li.list-group-item.larger-list-group-item
    %span.badge.left= indicator.friendly_type

    - if indicator == @indicator
      %mark= raw indicator
      %p= render partial: 'edit_controls'
    - else
      = link_to_indicator(indicator)

    - unless indicator.leaf?
      %ul.list-group.larger-list-group-item
        = render partial: 'indicator', locals: { collection: indicator.children }

