- @page_header = 'Edit curricula'

- @curricula.each do |curriculum|
  .well.curriculum
    %h2
      = curriculum
      - if curriculum.subjects.empty?
        %small= link_to 'View', curriculum

    - curriculum.subjects.each do |subject|

      - if subject.levels.empty?
        %h3
          = subject
          %small= link_to 'View', subject

      - else
        - subjectable_ids = subject.levels.map{ |level| "indicator_#{ level.id }" }
        %h3
          = subject
          = raw subject.levels.map{ |level| "<small>#{ link_to level, level }</small>" }.join(', ')

.well
  = link_to new_indicators_curriculum_path do
    = glyph('Add a new curriculum', 'plus')
