- @page_header = 'Subjects'

.bs-component
  .jumbotron
    - if @subjects.empty?
      %p You don't have any subjects yet.
      = link_to new_indicators_subject_path do
        .btn.btn-primary.btn-lg
          Add a new subject
    - else
      - @subjects.each do |subject|

        - if subject.levels.empty?
          %h3
            = subject
            %small= link_to 'View', indicator_path(subject)

        - else
          - subjectable_ids = subject.levels.map{ |level| "indicator_#{ level.id }" }
          %h3
            = subject
            - subject.levels.map do |level|
              %small= link_to level, indicator_path(level)
      %br
      = link_to new_indicators_subject_path do
        = glyph('Add a new subject', 'plus')
