%ul.breadcrumb
  - if @indicator.parent
    - @indicator.parent.self_and_ancestors.reverse_order.each do |indicator|
      %li= link_to_indicator(indicator)
  %li= "Add a new #{ @indicator.friendly_type }"

= bootstrap_form_for(@indicator) do |indicator_f|
  .panel.panel-default
    .panel-heading
      .panel-title
        - if @indicator.parent
          = indicator_f.static_control :parent
          = indicator_f.hidden_field :parent_id
        = indicator_f.text_field :name, label: @indicator.friendly_type
      = indicator_f.submit 'Save'

