%ul.breadcrumb
  - @indicator.ancestors.reverse_order.each do |indicator|
    %li= link_to_indicator(indicator)
  %li= @indicator

%ul.list-group
  %li.list-group-item
    = render partial: 'form'

    - @indicator.allowable_child_types.map do |child_type|
      = link_to "/indicators_#{ child_type }s/new?parent_id=#{ @indicator.id }",
        class: 'btn' do
        .span.glyphicon.glyphicon-plus
        Add a new #{ child_type }

    %ul.list-group
      = render partial: 'indicator', locals: { collection: @indicator.children }
