- @page_header = link_to_group
= render partial: 'lessons/details', locals: { lesson: @lesson }


%ul.nav.nav-pills
  %li.presentation
    = link_to group_lesson_path(@group, @lesson) do
      .span.glyphicon.glyphicon-pencil
      Scoring view

- @lesson.objectives.each do |objective|
  %section
    = render partial: 'lessons/objective', locals: { multiple_objectives: @lesson.multiple_objectives?,
      objective: objective }

    %table.table.assessment
      %tbody
        - @lesson.assessments.where(indicator: objective.indicator).each do |assessment|
          - next unless assessment.student
          %tr{ class: progress_style(assessment.score) }
            %td= "#{ assessment.student.name }: #{ assessment.mark }"
            %td= raw(previous_attempts(assessment, true))
            %td= "Average score: #{ number_to_percentage(assessment.student.average_score_for(assessment.indicator) * 100, precision: 0) }"

