- @page_header = link_to_group

%h3
  = @lesson.notes
  %small
    = @lesson.lesson_date
%ul.nav.nav-pills
  %li.presentation
    = link_to group_lesson_path(@group, @lesson) do
      .span.glyphicon.glyphicon-pencil
      Scoring view

- @lesson.objectives.each do |objective|
  .panel.panel-default
    .panel-heading
      = objective.indicator.cached_ancestry_name
    .panel-body
      %table.table.assessment
        %tbody
          - @lesson.assessments.where(indicator: objective.indicator).each do |assessment|
            - next unless assessment.student
            %tr{ class: likert_style(assessment.score) }
              %td= "#{ assessment.student.name }: #{ assessment.score }"
              %td= raw(previous_attempts(assessment, true))
              %td= "Average score: #{ assessment.student.average_score_for(assessment.indicator) }"

