- @page_header = link_to_group

%h3
  = @lesson.name
  %small
    = @lesson.lesson_date
%ul.nav.nav-pills
  %li.presentation
    = link_to group_lesson_path(@group, @lesson) do
      .span.glyphicon.glyphicon-pencil
      Scoring view

- @lesson.objectives.each do |objective|
  .panel.panel-default
    .panel-heading
      = objective.indicator.cached_ancestry_name
    .panel-body
      %table.table
        %tbody
          - @lesson.assessments.where(indicator: objective.indicator).each do |assessment|

            %tr{ class: likert_style(assessment.score) }
              %td= "#{ assessment.student.name } scored: #{ assessment.score }"
              %td= "Average score (all attempts): #{ assessment.student.average_score_for(assessment.indicator) }"
