!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="description" content="Empowering educators in the digital world")
    %meta(name="keywords" content="Education assessment learning curriculum teachers classroom students")
    %meta(name="author" content="Tools for Teachers")
    %title= content_for?(:title) ? yield(:title) : "Tools for Teachers"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = stylesheet_link_tag "application", :media => "all"
    = yield(:page_stylesheet) if content_for?(:page_stylesheet)

  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="/") Tools for Teachers
        .navbar-collapse.collapse.navbar-responsive-collapse
          = render partial: 'layouts/navigation'
    .container
      .bs-docs-section.clearfix
        .row
          .col-lg-9
            .page-header
              .row
                .col-lg-9
                  - if @page_header
                    %h1= @page_header

        .row
          .col-lg-9

            = bootstrap_flash
            = yield

      %footer
        .row
          .col-lg-9
            %p
              &copy; Snap Lab Limited 2015


  /
    Javascripts
    \==================================================
  / Placed at the end of the document so the pages load faster
  = javascript_include_tag "application"
  = yield(:page_javascript) if content_for?(:page_javascript)
  - if Rails.env.production?
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64944472-2', 'auto');
      ga('send', 'pageview');

    </script>

